<%- include('partials/_header'); %>

    <%- include('partials/_nav'); %>

    <title>Employees</title>
    <div class="container mt-5">
        <div class="row">
            <h1>Welcome to employees</h1>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="https://image.freepik.com/vector-gratis/reclutamiento-profesionales-que-estudian-perfiles-candidatos_1262-21404.jpg" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Edit employees</h5>
                          <p class="card-text">Aquí podrá agregar, elimimar y editar a cualquier empleado</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="https://image.freepik.com/vector-gratis/ilustracion-concepto-oficina_114360-1248.jpg" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Edit departaments</h5>
                          <p class="card-text">Aquí podrá agregar, eliminar, editar y ver todos los departamentos registrados</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="https://image.freepik.com/vector-gratis/ilustracion-concepto-espacio-trabajo-compartido_114360-5249.jpg" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Edit titles</h5>
                          <p class="card-text">Aquí podrá editar, crear, eliminar y ver todos los titulos de los empleados registrados</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="https://image.freepik.com/vector-gratis/ilustracion-concepto-espacio-trabajo-compartido_114360-5317.jpg" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">View registered employees</h5>
                          <p class="card-text">Aquí se mostraran todos los empleados registrados</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <hr>
        <!-- aquí empiezan las secciones
            *en los empleados el u¿numero de empleado es autocontable
            *fecha de contratación la toma de forma automatica-->
        
        <section class="card">
            <div class="row m-3">
                <div class="col">
                    <p class="h2 text-center">Employees</p>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="birthday">Birthday</label>
                                <input type="date" id="birthday" class="form-control" name="birthday">
                            </div>
    
                            <div class="form-group col-md-6">
                                <label for="gender">Gender</label>
                                <select id="gender" class="form-control">
                                    <option>M</option>
                                    <option>F</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">First name</label>
                                <input type="text" id="name" class="form-control" name="name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="las">Last name</label>
                                <input type="text" id="las" class="form-control" name="last">
                            </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Departament</label>
                              <select class="form-control">
                                <option>Some</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="form-row pl-1">
                          <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="manager">
                            <label class="form-check-label" for="manager">Manager</label>
                          </div>
                        </div>  
                        <div class="form-row">
                            <div class="form-group col-md">
                                <input type="button" value="Register employee" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
          </div>
          <div class="row m-3">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <hr class="my-4">

        <section class="card">
          <div class="row m-3">
            <form class="col">
              <p class="h2 text-center">Departaments</p>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="dept">Departament</label>
                  <input type="text" class="form-control" name="departament" id="dept">
                </div>
                <div class="form-gruop col-md-6">
                  <label for="id">ID</label>
                  <input type="text" class="form-control" id="idDept">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="button" value="Add departament" class="btn btn-primary mt-4" onclick="saveNewDept()">
                </div>
              </div>
            </form>
          </div>
          <div class="row m-3">
            <div class="col">
              <table class="table table-hover" id="showDpt">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Departament</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <hr>

        <section class="card">
          <div class="row m-3">
            <form class="col">
              <p class="h2 text-center">Title</p>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="button" value="Add title" class="btn btn-primary mt-4">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="row m-3">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

    </div>

    <!--Aquí van los scripts de los cruds-->
    <script src="public/js/general.js"></script>
    <script src="public/js/departaments.js"></script>

<%- include('partials/_footer'); %>